<!-- <div class="text-center mt-4">
  <img src="/my-app/img-sourse/wallpaperflare.com_wallpaper (2).jpg" class="img-fluid rounded" alt=" ">
</div> -->

<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-align: center;
  }
</style>

<app-navbar></app-navbar>
<app-img></app-img>
<app-card></app-card>


 <router-outlet />
